.header-nav {
    position: fixed;
    background-color: white;
    z-index: 2 !important;
    color: black !important;
    font-weight: bold;
    text-decoration: none !important;
    padding-top: 1rem;
    padding-bottom: 0;
    margin: auto;
    border-bottom: 0.5px solid rgb(218, 218, 218) !important;
}

.nav-title {
    color: red;
    font-size: 1.5rem;
    text-decoration: none !important;
}

.nav-link {
    font-size: 0.8rem;
    color: black !important;
    cursor: pointer;
}

/* .login {
    color: rgb(153, 153, 153);
    text-decoration: none !important;
} */