.header-nav{
    position: fixed;
    z-index: 2 !important;
    background-color: rgb(31,31,31) !important;
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
    padding-bottom: 0;
}

.nav-title{
    color: red;
    font-size: 2rem;
    text-decoration: none !important;
}

.header-link{
    font-size: 1rem;
}


.dropdown-menu{
    background-color: rgb(20, 20, 31) !important;
    width: 2rem;
}

.dropdown-item{
    color: white;
}

.login {
    color: rgb(153, 153, 153);
    text-decoration: none !important;
}
