.post {
    /* font-weight: bold; */
    text-decoration: none !important;
}

.form-control{
    border: 1px solid gray !important;
}

.card{
    border: 0;
}

.card-body img{
    border-radius: 5px;
}