.post {
    /* font-weight: bold; */
    text-decoration: none !important;
}

.form-control{
    border: 1px solid gray !important;
}

.card{
    border: 0;
}

.card-img-overlay p{
    visibility: hidden;
}

.card-img-overlay:hover p{
    cursor: pointer;
    visibility: visible;
}

/* .location-button{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 10px;
} */

.card-body img{
    border-radius: 5px;
}